  <!-- Header-->
  <header class="bg-dark py-5 bg-image3 ">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-black mb-2">Our Partners</h1>
                    <p class="lead fw-normal text-black-75 mb-4">Let us take a look on the World of Online Games</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="join">Become a Sponsor</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </header>
<br><br>
<!-- Table -->
<div class="container"> 
    <table class="table table-striped table-bordered" table-border = "1"> 
        <thead> 
            <tr> 
                <th>Company</th> 
                <th>Game</th> 
                <th>Year</th>
                <th>Website</th >
            </tr> 
        </thead> 
            <tbody> 
                <tr *ngFor="let user of staff"> 
                <td>{{user.company}}</td> 
                <td>{{user.game}}</td> 
                <td>{{user.year}}</td>
                <td><a href="{{user.website}}" target="_blank">Visit Website</a></td>
            </tr> 
            </tbody> 
    </table> 
</div> 